/* Any color should go here */
$icon: #d2d2d2;
$divider: #eeefee;
$theme: #1890ff;
$font-main: #151515;
$font-sub: #898989;
$background1: #f5f5f5;
$background2: #151515;
$black1: #000;
$white: #fff;
$green: #52c41a;
$red: #f5222d;
