$namespace: "cover";

.#{$namespace} {
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	.globalBanner {
		width: 100%;
		height: 100%;
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		user-select: none;

		.bannerInner {
			width: 100%;
			height: 100%;
			backdrop-filter: blur(3px);
			@include flexContainer(row, center, center);

			>span {
				color: white;
				font-size: 100px;
				font-weight: bolder;
				animation: text-focus-in 1.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) both;
			}
		}

		.scrollDown {
			position: absolute;
			color: white;
			font-size: 50px;
			bottom: 50px;
			left: 50%;
			transform: translateX(-50%);
			animation: bounce-top 3s infinite both;
		}

		.switchBtn {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
	}

	.feature {
		width: 100%;
		height: 100%;

		>span {
			display: inline-block;
			width: 100%;
			height: 500px;
		}
	}

	@keyframes text-focus-in {
		0% {
			-webkit-filter: blur(12px);
			filter: blur(12px);
			opacity: 0;
		}

		100% {
			-webkit-filter: blur(0px);
			filter: blur(0px);
			opacity: 1;
		}
	}

	@keyframes bounce-top {
		0% {
			-webkit-transform: translateY(-45px);
			transform: translateY(-45px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
			opacity: 1;
		}

		24% {
			opacity: 1;
		}

		40% {
			-webkit-transform: translateY(-24px);
			transform: translateY(-24px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		65% {
			-webkit-transform: translateY(-12px);
			transform: translateY(-12px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		82% {
			-webkit-transform: translateY(-6px);
			transform: translateY(-6px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		93% {
			-webkit-transform: translateY(-4px);
			transform: translateY(-4px);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}

		25%,
		55%,
		75%,
		87% {
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
		}

		100% {
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
			opacity: 1;
		}
	}

}
